* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f6f6f6;
  font-family: iranyekan;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productList {
  margin: 50px 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  max-width: 1170px;
  width: 90vw;
}
.product {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.product a {
  text-align: center;
  color: #fb923c;
  font-weight: 800;
  margin-top: 20px;
}
.productImage {
  background-color: #fff;
}
.productImage img {
  width: 100%;
  height: auto;
}
.productDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.productDesc > p:first-child {
  text-align: right;
  color: #1e293b;
  font-weight: 600;
}
.productDesc > p:nth-child(2) {
  text-align: left;
  direction: rtl;
  color: #fb923c;
  font-weight: 700;
}
.btn {
  border: none;
  outline: none;
  padding: 8px 10px;
  background-color: #ede9fe;
  color: #fb923c;
  border-radius: 5px;
  cursor: pointer;
  font-family: iranYekan;
}
.primary {
  background-color: #fb923c;
  color: #fff;
}
button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #444;
}
.searchBar {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 90vw;
}
.searchBar input {
  direction: rtl;
  font-family: IranYekan;
}
.sortBar {
  width: 220px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}
.sortBar span {
  flex: 1;
  direction: rtl;
}
.sortBar select {
  flex: 1;
  width: auto;
  font-family: IranYekan;
}
